<main>
    <div class="details-container">
        <div class="details-container-image">
            <img src="{{course.image}}" alt="{{course.title}}">
        </div>
        <div class="details-container-info">
            <h2>Title: {{course.title}}</h2>
            <h3>Type: {{course.type}}</h3>
            <h3>Certificate: {{course.certificate}}</h3>
            <h3>Price: €{{course.price}}</h3>
            <h3>By: {{course.owner.email}}</h3>
            {{#if course.signUpList.length}}
            <h4>Signed By: {{#each course.signUpList}}{{this.username}} {{/each}}</h4>
            {{else}}
            <h4>Nobody has signed up for this course yet</h4>
            {{/if}}
        </div>
        <div class="details-container-content">
            <p>{{course.description}}</p>
        </div>
        <div class="btn-container">
            {{#if user}}
            {{#ifEquals user._id course.owner._id}}
            <a href="/course/edit/{{course._id}}">Edit</a>
            <a href="/course/delete/{{course._id}}">Delete</a>
            {{else}}
            {{#unless isEnrolled}}
            <form action="/course/signup/{{course._id}}" method="post">
                <button type="submit">Sign up</button>
            </form>
            {{else}}
            <p class="sign-up">You've already signed up for this course!</p>
            {{/unless}}
            {{/ifEquals}}
            {{/if}}
        </div>
    </div>
</main>

<footer>Back-End 2023</footer>






<!-- details.hbs -->
{{!-- <main>
    <div class="details-container">
        <div class="details-container-image">
            <img src="{{course.image}}" alt="{{course.title}}">
        </div>
        <div class="details-container-info">
            <h2>Title: {{course.title}}</h2>
            <h3>Type: {{course.type}}</h3>
            <h3>Certificate: {{course.certificate}}</h3>
            <h3>Price: €{{course.price}}</h3>
            <h3>By: {{course.owner.email}}</h3>
            {{#if course.signUpList.length}}
            <h4>Signed By: {{#each course.signUpList}}{{this}}, {{/each}}</h4>
            {{else}}
            <h4>Nobody has signed up for this course yet</h4>
            {{/if}}
        </div>
        <div class="details-container-content">
            <p>{{course.description}}</p>
        </div>
        <div class="btn-container">
            {{#if user}}
            {{#ifEquals user._id course.owner._id}}
            <a href="/course/edit/{{course._id}}">Edit</a>
            <a href="/course/delete/{{course._id}}">Delete</a>
            {{else}}
            {{#unless (includes course.signUpList user._id)}}
            <form action="/course/signup/{{course._id}}" method="POST">
                <button type="submit">Sign up</button>
            </form>
            {{else}}
            <p class="sign-up">You've already signed up for this course!</p>
            {{/unless}}
            {{/ifEquals}}
            {{/if}}
        </div>
    </div>
</main>

<footer>Back-End 2023</footer> --}}